@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-y: scroll;
}

.gradientBorder {
  border-image: linear-gradient(var(--angle), hsl(var(--p)), hsl(var(--pc))) 1;
  animation: 6s rotate linear infinite;
  --angle: 0deg;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.animateCart {
  visibility: visible;
  animation: move 4s ease-in;
  
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}