.chartContainer {
  border-image: linear-gradient(var(--angle), hsl(var(--p)), hsl(var(--s))) 1;
  animation: 2s rotate linear infinite;
  --angle: 0deg;
}

.tab .chartContainer:hover {
transition: -translateY(30px);
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}