.CompleteModal {
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 80%;
  height: 70%;
  min-width: 30%;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
  color: #474239;
  background-color: #fcf8f0;
  padding: 3rem 4rem;
}

.CompleteOverlay {
  background-color: #FBF4E6aa;
}

@media screen and (max-width: 600px){
  .CompleteModal {
    position: absolute;
    top: 20%;
    bottom: auto;
    right: auto;
    left: auto;
    width: 90%;
    height: 60%;
    transform: none;
    border-radius: 3rem;
    margin: 5%;
    color: #474239;
    background-color: #fcf8f0;
    padding: 3rem 0.5rem;
  }
}