.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New";
  font-weight: bold;
  color: #704f47;
}

.label {
  margin: 1rem;
}

.input {
  margin: 1rem;
}

.buttonContainer {
  display: flex;
  width: 100%; 
  justify-content: right;
  margin-right: 2rem;
}

.button {
  align-self: 'right';
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  border-radius: 7px;
  color: #fbc6b9;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s;
  background-color: #704f47;
  border: 2px solid #382723;
}

.button:hover{
  background-color: #4c3631;
}

.button:active{
  transform: scale(0.95);
  
}
