.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  font-size: 18px;
}

.button {
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s;
  background-color: #807769;
}

.button:hover{
  background-color: #635e52;
  cursor: pointer;
}

.button:active{
  transform: scale(0.95);
  
}

.formInput{
  margin-top: 1rem;
  padding: 3px;
  color: black;
}

.formLabel{
  margin-bottom: 1rem;
}

.skipButton{
  color: #474239;
  border-radius: 1rem;
  border: 1px #474239 solid;
  padding: 0.3rem 0.6rem;
}

.skipButton:hover{
  background-color: #474239;
  color: white;
}

.skipButton:active{
  transform: scale(0.95);
}

@media screen and (max-width: 600px){
  
}