.chartContainer {
    border-image: linear-gradient(var(--angle), hsl(var(--p)), hsl(var(--s))) 1;
    animation: 6s rotate linear infinite;
    --angle: 0deg;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }