.formContainer {
  padding-left: 10%;
  width: 100%;
}

.formLabel {
  margin: 1rem;
}

.formInput {
  margin: 1rem;
}

.formSubmit{
  margin: 1rem;
  padding: 0.25rem;
  border-width: 2px;
  border-color: black;
}

.formSubmit:hover{
  margin: 1rem;
  padding: 0.25rem;
  border-width: 2px;
  border-color: black;
  background-color: blue;
}

.svg {
  width: 90%;
  height: 10rem;
}