.button {
  font-size: 4rem;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 3rem;
  color: #ff0000;
  animation-name: animateButton;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transition: font-size 0.1s;
}

.button:hover {
  animation: none;
  font-size: 4.7rem;  
}

.button:active{
  font-size: 4.7rem;
  color: #ffea00;
}

.buttonClicked {
  animation-name: fadeOutButton;
  animation-duration: 0.8s;
  font-size: 4.5rem;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 3rem;
  color: #ff0000;
}

@keyframes animateButton {
  0% {
     font-size: 4rem
  }
  40%{
    font-size: 4.5rem
  }
  80%{
    font-size: 4rem
  }
}

@keyframes fadeOutButton {
  100% {
    color: #ffea0000
  }
}