/* @import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap"); */

.button {
  display: block;
  background-color: rgba(245, 245, 220, 0.858);
  height: 70%;
  width: 80%;
  color: darkgreen;
  font-size: 2.5rem;
  /* font-family: "Kalam", cursive; */
  border-radius: 2rem;
  text-align: center;
  margin: auto;
  /* border: 0.25rem solid rgba(198, 198, 178, 0.758) */
}

.label {
  display: block;
  height: 100%;
  width: 100%; 
  position: relative;
}

.span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.label:hover {
  cursor: pointer;
}

.button:hover {
  background-color: rgb(245, 245, 220);
  box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(244, 244, 231, 0.934);
  font-size: 2.8rem;
  color: rgb(117, 128, 117);
  border: none;
}

.button:active {
  height: 65%;
  width: 75%;
  border: none;
}
