.slider {
  width: 100%;
  max-width: 300px;
  height: 3rem;
  margin: auto;
}


.track {
  top: 8px;
  height: 4px;
  position: relative;
  background: #b06c5b;
}


.thumb {
  cursor: pointer;
  background: #704f47;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: none;
  
}

.thumb:hover {
  box-shadow: 0 0 0 8px #704f47;
}

.mark {
  cursor: pointer;
  top: 6px;
  left: 0px;
  width: 2px;
  height: 10px;
  background-color: black;
}
